# üìã Medical Appointment No-Show ‚Äì Data Cleaning¬†Project

## üìä Dataset Overview  
- *Source*: Kaggle  
- *Total Records*: 110,527  
- *Target Column*: No-show (Yes = did not show, No = showed up)

### üîë Key Features
- Gender, Age, Neighbourhood  
- ScheduledDay, AppointmentDay  
- Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received,¬†No-show

## üßº Step 1: Importing Required Libraries

In [169]:
import pandas as  pd

## üìÅ Step 2: Loading the Dataset

In [113]:
df=pd.read_csv('medical_appointments.csv')

In [115]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

## üîç Step 3: Exploring the Data
- Checking info, data types, missing values, and¬†basic¬†stats.

In [117]:
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [119]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [123]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [125]:
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

## üßπ Step 4: Data Cleaning

In [127]:
df.columns=df.columns.str.strip().str.lower().str.replace(" ","_")

In [129]:
df['gender']=df['gender'].astype(str).str.strip().str.lower().map({'f':0,'m':1})

In [131]:
df['scheduledday']=pd.to_datetime(df['scheduledday'],errors='coerce')
df['appointmentday']=pd.to_datetime(df['appointmentday'],errors='coerce')

In [133]:
df['scheduledday']=df['scheduledday'].dt.strftime('%d-%m-%Y')
df['appointmentday']=df['appointmentday'].dt.strftime('%d-%m-%Y')

In [134]:
df['scheduledday']=pd.to_datetime(df['scheduledday'],format='%d-%m-%Y')
df['appointmentday']=pd.to_datetime(df['appointmentday'],format='%d-%m-%Y')

In [135]:
df['waiting_days']=(df['appointmentday']-df['scheduledday']).dt.days

In [139]:
df=df[(df['age']>=0)&(df['age']<=115)]

In [141]:
df['no-show']=df['no-show'].str.strip().str.lower().map({'no':0,'yes':1})

In [143]:
df.head()

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show,waiting_days
0,2.987250e+13,5642903,0,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,0,0
1,5.589978e+14,5642503,1,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,0,0
2,4.262962e+12,5642549,0,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,0,0
3,8.679512e+11,5642828,0,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0,0
4,8.841186e+12,5642494,0,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,0,0

In [145]:
df.drop(columns=['patientid','appointmentid','scheduledday','appointmentday'],inplace=True)

In [147]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 110526 entries, 0 to 110526
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gender         110526 non-null  int64
 1   age            110526 non-null  int64
 2   neighbourhood  110526 non-null  object
 3   scholarship    110526 non-null  int64
 4   hipertension   110526 non-null  int64
 5   diabetes       110526 non-null  int64
 6   alcoholism     110526 non-null  int64
 7   handcap        110526 non-null  int64
 8   sms_received   110526 non-null  int64
 9   no-show        110526 non-null  int64
 10  waiting_days   110526 non-null  int64
dtypes: int64(10), object(1)
memory usage: 10.1+ MB
None

In [149]:
print(df.head())

   gender  age      neighbourhood  scholarship  hipertension  diabetes  \
0       0   62    JARDIM DA PENHA            0             1         0
1       1   56    JARDIM DA PENHA            0             0         0
2       0   62      MATA DA PRAIA            0             0         0
3       0    8  PONTAL DE CAMBURI            0             0         0
4       0   56    JARDIM DA PENHA            0             1         1

   alcoholism  handcap  sms_received  no-show  waiting_days
0           0        0             0        0             0
1           0        0             0        0             0
2           0        0             0        0             0
3           0        0             0        0             0
4           0        0             0        0             0

## üíæ Step 5: Export Cleaned Data
Saving the final cleaned dataset¬†as¬†CSV

In [151]:
df.to_csv('MedicalAppointment_Cleaned.csv',index=False)

In [153]:
df.shape

(110526, 11)